/*--------------------General style--------------------*/
html {
  font-size: 18px;
  font-family: Helvetica;
}

.cadetblue {
  background-color: cadetblue;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.uppercase {
  text-transform: uppercase;
}

/*--------------------Banner style--------------------*/

.banner {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

/*--------------------Header style--------------------*/

.header {
  color: white;
  position: relative;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 1rem;
}

a.menu {
  display: none;
}

/*--------------------Headline style--------------------*/

.whitebox {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  color: black;
  background-color: white;
  margin-top: 11rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  position: relative;
  right: 0;
}

.headline {
  display: flex;
  justify-content: flex-end;
}

/*--------------------Main - style--------------------*/

.main {
  justify-content: center;
}

.services {
  margin: 3rem 0;
  justify-content: space-between;
}

.service {
  height: 8rem;
  width: 5rem;
  padding: 0 3rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.service img {
  width: 3.5rem;
  height: auto;
}

/*--------------------Text - style--------------------*/

.text {
  justify-content: center;
}

.box {
  width: 35%;
  padding: 0 2.5%;
}

.title {
  font-weight: bold;
  color: white;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
}

.content {
  margin-bottom: 5rem;
}

/*--------------------Footer style--------------------*/

footer {
  background-color: azure;
  align-items: center;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/*--------------------Tablet style--------------------*/

@media only screen and (max-width:1024px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .banner {
    height: 22rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .header {
    top: 0;
  }

  .whitebox {
    font-size: 1.33rem;
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
    position: relative;
    right: 0;
  }

  .content {
    margin-bottom: 5rem;
  }

  .text {
    justify-content: space-around;
  }

  .box {
    width: 35%;
  }
}

/*--------------------Mobile style--------------------*/

@media only screen and (max-width:480px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .logo span {
    display: none;
  }

  a.menu {
    display: block;
  }

  a.nav {
    display: none;
  }

  .banner {
    height: 17rem;
    width: auto;
    background-position: 20%;
  }

  .headline {
    width: 100%;
    display: block;

  }

  .whitebox {
    text-align: center;
    font-size: 1rem;
    margin-top: 9rem;
    padding: 1rem 0;
    width: 100%;
  }

  .services {
    margin: 3.77rem 0;
    flex-direction: column;
  }

  .service {
    font-size: 0.77rem;
    margin-bottom: 1.54 0;
    height: 8rem;
    width: 5rem;
    padding: 0 3rem;
    justify-content: space-around;
  }

  .text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box {
    width: 100%;
    margin-bottom: 4rem;
  }

  .title {
    text-align: center;
    padding: 0.5rem 0;
    width: 100%;
    margin-bottom: 1rem;
  }

  .box p {
    text-align: center;
  }

  footer {
    justify-content: center;
  }

  footer img {
    padding: 4rem;
  }

  footer p {
    display: none;
  }
}
